<div class="container">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Port </th>
                <th>Destination Address </th>
                <th>Destination Port </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="port in ports">
                <td>
                    <input type="number" ng-model="port.source_port" required>
                </td>
                <td>
                    <input type="text"   ng-model="port.destination_address" required>
                </td>
                <td>
                    <input type="number" ng-model="port.destination_port" required>
                </td>
                <td>
                  <button type="button" ng-click="remove(port)" class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>
                </td>
            </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3">
              <button type="button" ng-click="add()" class="btn btn-default">Add</button>
            </td>
          </tr>
        </tfoot>
    </table>

    <button type="button" ng-click="save()" class="btn btn-primary">Save</button>
</div>
