<div class="container" ng-init="reset()">
  <p ng-show="dirty" class="alert alert-warning">You have unsaved changes!</p>
  <p ng-hide="dirty || error" class="well">The following ports are forwarded.</p>
  <p ng-show="error" class="alert alert-danger">{{ error }}</p>
  <div class="table-responsive">
  <form class="form-inline">
  <table class="table table-striped table-bordered table-condensed table-hover ports">
    <thead>
      <tr>
        <th>Port </th>
        <th>Destination Address </th>
        <th>Destination Port </th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='port in ports track by $index'
          ng-class="{ warning: isChanged(port) }"
          ng-init="$parent.index=$index"
          mg-enter="done(port)">
        <td ng-click="edit(port, 'port')">
          <input type="number" min="1" max="65535" required
            ng-model="port.port"
            ng-show="isEditable(port)"

            mg-focus-select="mustFocus(port, 'port')"
            ng-blur="blur(port, 'port')"
            ng-focus="focus(port, 'port')"
            ng-change="change(port, 'port')" >
          <div ng-hide="isEditable(port)">
            {{ port.port }}
          </div>
        </td>
        <td ng-click="edit(port, 'destination_address')">
          <input type="text" required
            ng-model="port.destination_address"
            ng-show="isEditable(port)"
            mg-focus-select="mustFocus(port, 'destination_address')"
            ng-blur="blur(port, 'destination_address')"
            ng-focus="focus(port, 'destination_address')"
            ng-change="change(port, 'destination_address')" >
          <div ng-hide="isEditable(port)">
            {{ port.destination_address }}
          </div>
        </td>
        <td ng-click="edit(port, 'destination_port')">
          <input type="number" min="1" max="65535" required
            ng-model="port.destination_port"
            ng-show="isEditable(port)"
            mg-focus-select="mustFocus(port, 'destination_port')"
            ng-blur="blur(port, 'destination_port')"
            ng-focus="focus(port, 'destination_port')"
            ng-change="change(port, 'destination_port')" >
          <div ng-hide="isEditable(port)">
            {{ port.destination_port }}
          </div>
        </td>
        <td ng-click="edit(port, 'description')">
          <input type="text"
            ng-model="port.description"
            ng-show="isEditable(port)"
            mg-focus-select="mustFocus(port, 'description')"
            ng-blur="blur(port, 'description')"
            ng-focus="focus(port, 'description')"
            ng-change="change(port, 'description')" >
          <div ng-hide="isEditable(port)">
            {{ port.description }}
          </div>
        </td>
        <td>
          <div class="pull-left">
            <button ng-hide="isEditable(port)" type="button" ng-click="edit(port)"   class="btn btn-primary btn-xs">
              <span class="glyphicon glyphicon-pencil"></span>
            </button>
            <button ng-show="isEditable(port)" type="button" ng-click="done(port)"   class="btn btn-success btn-xs">
              <span class="glyphicon glyphicon-ok"></span>
            </button>
            <button ng-show="isEditable(port)" type="button" ng-click="cancel(port)" class="btn btn-danger btn-xs">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </div>

          <div class="pull-right">
            <button type="button" ng-click="remove()" class="btn btn-danger btn-xs">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <td colspan="5" ng-click="add()">
          ...
      </td>
    </tfoot>
  </table>
  </form>
  </div>

  <div class="btn-group pull-right">
    <button type="button" ng-click="reset()" ng-disabled="!dirty" class="btn btn-danger">Reset</button>
    <button type="button" ng-click="save()" ng-disabled="!dirty" class="btn btn-primary">Save</button>
  </div>
</div>
